*{
    margin: 0px 0px;
    color: aliceblue;
}
.navbar{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    width: 97.9%;
    height: 150px;
    background-color:#343232;
    display: flex;
    align-items: center;
}

.logo
{
    margin-left: 130px;
    height: 125px;
    width: 130px;
    justify-content: flex-start;
    
}
#logo
{
    width: 100%;
    height: 100%;
}
.links ul{
    margin-left: 600px;
    float: right;
}
.links ul li{
    list-style: none;
    display:inline-block;
    margin: 0 10px;
    line-height: 1  0px;
}
.links ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
    font-family: sans-serif;
}
.links ul li a.active,
.links ul li a:hover{
    background-color: rgb(187, 12, 12);
    border-radius: 2px;
}
.main
{
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
}
.banner1
{
    height: 600px;
    width: 300px;
    text-align: center;
    border:solid 0.1px red;
    
}
.icerik
{   
    text-align: center;
    height: 600px;
    width: 300px;
}
.banner2
{
    height: 600px;
    width: 300px;
}
#bayrak
{
    width: 250px;
    height: 600px;
    margin-left: 125px;
    border:solid 0.1px red;
}
#gif
{
    width: 300px;
    height: 300px;
}
.container
{
    width: 97%;
    height: 200px;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
}
.container a img 
{
    width: 200px;
    height: 200px;
    border:solid 0.1px red;
}
.footer
{
    width: 100%;
    height: 150px;
    background-color:#343232 ;
    text-align: center;
    padding-top: 10px;
}